assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.solr
.idea
.DS_Store
.ea
apache
advancedworkflow/
buildtools/
cms/
cwp/
cwp-core/
docsviewer/
framework/
fulltextsearch/
html5/
iframe/
multivaluefield/
nginx
queuedjobs/
registry/
restfulserver/
sortablegridfield/
subsites/
tags
taxonomy/
testdata/
testsession/
translatable/
userforms/
vendor/
versionedfiles/
versionfeed/
mollom/
spamprotection/
recaptcha/
.sass-cache/

themes/module_bootstrap/
phpmyadmin/
external-content/
staticsiteconnector/
dms/
dms-assets/
gallery/
memberprofiles/
sqlite3/
googlesitemaps/
cwp-recipe-basic-dev/
cwp-recipe-basic/
documentconverter/
secureassets/
securityreport/
silverstripe-phockito/
frontend/
*.sublime-*
betterbuttons/
fulltextsearch-localsolr/
ImageGallery/
